<div class="dashboard_sidebar">
  <div class="user-dashboard">
    <div class="card-deck" style="position: absolute; width: 100%;">
      <%= render partial: "shared/all_products" %>
    </div>
  </div>
</div>
