<div class="dashboard_sidebar">
  <div class="user-dashboard">
    <%= select_tag 'category_id', options_for_select(product_category), include_blank: "Please select", class: "category_products" %>
    <%= render partial: "shared/all_products" %>
  </div>
</div>
