<div class="card-deck">
  <div class="card" style="margin-left: 165px; margin-top: -848px; margin-right: -92px;">
    <div class="card-body" style="text-align: center; margin-left: -11rem;">
      <h5> <%= @user.first_name %> </h5>
      <p><%= @user.last_name %></p>
      <p><%= @user.email %></p>
    </div>
  </div>
</div>
