<div class="container text-center">
  <div class="error_messages">
    <% flash.each do |name,msg| %>
      <div class='alert alert-<%= name %>'>
         <%= msg %>
      </div>
    <% end %>
  </div>
</div>