<ul class="nav pull-right">
  <li style="margin-right: 14px;">
  <%= link_to "Cart", cart_items_path, class: "btn btn-light" %></li> 
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
</ul>
