<ul class="nav pull-right">
  <li style="margin-right: 11px;">
  <%= link_to "Cart", cart_items_path, class: "btn btn-light" %></li>
  <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-light"  %> 
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
</ul>
