
.container {
  margin-top: -4px;

}
.navbar-nav mr-auto {
  float: right;
  width: 100%;

}
body {
  background-color: aliceblue;
  margin: 30px;
  background-position: cover;
}
.text-center h2 {
  color: royalblue;
  margin-bottom: 45px;
  margin-top: 2px;
  font-size: 43px;
}
.text-center  a{
  margin: 6px;
}
.container p {
  font-size: medium;
}
[type="submit"]:not(:disabled) {
  cursor: pointer;
  background-color: silver;
  width: 92px;
  height: 35px;
}
.error_messages {
  color: red;
  font-size: small;
  margin-top: 22px;
}
.alert {
  margin-top: 4px;
}
.error_messages ul {
  list-style-type: none;
}
.bg-light {
  padding-left: 1px;
  background-color: #ffffff !important;
  width: 100%;
  height: 82px;
  font-size: 28px;
  border-bottom: 1px solid #8c9cab;
  margin-top: -30px;
  margin-right: -19px; 

}

img {
  width: 174px;
  height: 82px;
  margin-top: -8px;
  margin-left: -3px
}
.my-shopping-cart {
  text-align:center;
  margin-top: 267px;
  color: navy;
}
*, *::before, *::after {
  margin-left: -5px;
  margin-right: -20px;
}
.pull-right {
  margin-right: 65px;
}
.sidebar-nav {
  background-color: #2c2a2b;
  height: -webkit-fill-available;
  margin-left: -22px;
  margin-right: -8px;

}
.sidebar-nav a:hover {
  color: #ffffff!important;
}

.sidebar-nav li {
 padding-top: 22px;
}

.sidebar-nav li a{
 color: #ffffff;
}

.user-dashboard {
  margin-top: -760px;
  margin-left: 158px;
  margin-right: 7px;
}

.product-list {
  margin-left: 157px;
  margin-top: -701px;
}

.new_product {
  margin-top: -735px;
}

.alert alert-notice {
  color: orange;
}

.new-product-button {
  float: right;
  margin-right: 68px;
  margin-top: -748px;
}

.edit-product {
  margin-left: 651px;
  margin-top: -627px;
}
.cart-products-list {
  margin-left: 157px;
  margin-top: -760px;
  margin-right: -16px;
}
.card-img-top {
  width: 300px;
  height: 160px;
  margin-left: 18px;
  margin-top: 1px;
}

.card-body p a { 
  margin-top: 17px;
  width: 173px;
}

.quantity-button a {
  margin-right: 9px;
  margin-left: 10px;
}

