
.container {
  margin-top: 105px;
  margin-left: 314px;

}
.navbar-nav mr-auto {
  float: right;
  width: 100%;

}
.header {
  margin-left: -7px;
}
body {
  background-color: aliceblue;
  margin: 30px;
  background-position: cover;
}
.text-center h2 {
  color: royalblue;
  margin-bottom: 45px;
  margin-top: -43px;
  font-size: 43px;
  margin-left: -271px;
}
.text-center  a{
  margin: 6px;
}
.container p {
  font-size: medium;
}
.error_messages {
  color: red;
  font-size: small;
  margin-top: 22px;
}
.alert {
  margin-top: 4px;
}
.error_messages ul {
  list-style-type: none;
}
.bg-light {
  padding-left: 0px;
  background-color: #ffffff !important;
  width: 100%;
  height: 82px;
  font-size: 28px;
  border-bottom: 1px solid #8c9cab;
  margin-top: -30px;
  margin-right: -19px; 

}

img {
  width: 174px;
  height: 82px;
  margin-top: -8px;
  margin-left: -3px
}
.my-shopping-cart {
  text-align:center;
  margin-top: 267px;
  color: navy;
}
*, *::before, *::after {
  margin-left: -5px;
  margin-right: -20px;
}
.pull-right {
  margin-right: 65px;
}
.sidebar-nav {
  background-color: #2c2a2b;
  height: -webkit-fill-available;
  margin-left: -25px;
  margin-right: -5px;

}
.sidebar-nav a:hover {
  color: #ffffff!important;
}

.sidebar-nav li {
 padding-top: 22px;
}

.sidebar-nav li a{
 color: #ffffff;
}

.user-dashboard {
  margin-top: -849px;
  margin-left: 154px;
  margin-right: -62px;
}

.product-list {
  margin-left: 157px;
  margin-top: -794px;
}

.new_product {
  margin-top: -735px;
}

.alert-notice {
  color: orange;
}
.alert-info {
  margin-left: 10px;
  width: 958px;
  position: absolute;
  margin-top: -848px;
}
.new-product-button {
  float: right;
  margin-right: 46px;
  margin-top: -839px;
}

.edit-product {
  margin-left: 651px;
  margin-top: -827px;
}
.edit_product {
  margin-top: -46px;
}
.cart-products-list {
  margin-top: -788px;;
  margin-right: -16px;
}
.card-img-top {
  width: 300px;
  height: 160px;
  margin-left: 18px;
  margin-top: 1px;
}

.card-body p a { 
  margin-top: 17px;
  width: 173px;
}

.quantity-button a {
  margin-right: 9px;
  margin-left: 10px;
}
.order-button {
  margin-left: 700px;
  margin-top: 67px;
}
.address-form{
  margin-left: 530px;
  margin-top: -748px;
}
.address-form input{
  margin-left: 95px;
}
.col-sm-10 {
  margin-left: 20px;
}
.submit-button {
  margin-top: 38px;
  margin-left: -191px;
}
.submit-sign-button {
  margin-top: 38px;
  margin-left:-289px
}
.new_address {
  margin-top: 59px;
}
.error-addresses {
  margin-top: -82px;
  color: red;
}
.address-header {
  margin-left: 130px;
  margin-top: -7px; 
  color: royalblue;
}
.address-list {
  margin-right: -61px;
  margin-top: -849px;
}
.address-button {
  float: right;
  margin-top: 10px;
  margin-right: 87px;
  margin-bottom: 10px;
}
.home-product {
  margin-top: -105px;
  margin-left: -25px;
}
.table {
  margin-left: 149px;
}
.cancel-button {
  margin-top: -44px;
}
.field_with_errors {
  margin-left: 107px;
}
.table-striped td a{
  margin-right: 28px;

}