<div class="card-deck">
  <% unless current_user.present? %>
    <div class="card" style=" height: 614px; height: 614px; margin-top: -105px; margin-left: -11px; margin-right: 0px;">
      <%= render partial: "shared/show_product" %>
    </div>  
  <% else %>
    <div class="card" style="margin-left: 165px; margin-top: -848px; margin-right: -92px;">
      <%= render partial: "shared/show_product" %>
    </div>
  <% end %>
</div>
